.header
	.logo
		p SH
	.main-menu
		-var nav_header = {'Woman':'woman.html','Men':'#','Kids':'#','Comming Soon':'#','About':'#'}
		ul
			each linkPath, linkName in nav_header
				li: a(href=linkPath)=linkName
	.login-form-page-2
		.login-menu-page2
			p 
				img(src='img/user.png') 
				| Hi, Michael
				a(class='logout' href='login') (logout)
				img(src='img/basket.png') 
				a(href='basket') Basket (4)
		.search-page-2
			input(type='search' placeholder='Search something...')
			button(type='button')

.