.main-content
		.div-1
			h2 heather grey <br/> basics
			p new arrival
			.div-8
		.div-2
			img(src='img/bird.png')
			p Opening Ceremony @IndonesiaFW tomorrow, PMers! Are you ready for the biggest fashion movement in 
			p @PuspitalMarthalD
			.div-3 
				h2 chuck taylor
				p $125.000
			.div-9
				img(src='img/left.png')
				h2 Jaxon Hat
				p Reanie Hat
		.div-4
			.div-5
				img(src='img/bird.png')
				p Girls, Girls, Girls: A Look Back at 50 Years of the Pirelli Calendar
				p @Vogue
			.div-10
				h2 Basic Blazer
				p FROM $199.00
		.div-6
			img(src='img/left.png')
			h2 Elegant Shoes
			p braided leather
			.div-7
				h2 Jeans for <br> adventure
				p New Arrival