.coats
	h2 Coats
	a(href='') show more
	img(src='/img/arrow.png')
	.item-products
		.prod-1
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-2
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-3
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-4
			.prod-img
			p Double Layered Top
			p $ 89,95

.outer
	h2 Outerwear
	a(href='') show more
	img(src='/img/arrow.png')
	.item-products
		.prod-1
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-2
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-3
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-4
			.prod-img
			p Double Layered Top
			p $ 89,95

.shirt
	h2 T-Shirts
	a(href='') show more
	img(src='/img/arrow.png')
	.item-products
		.prod-1
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-2
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-3
			.prod-img
			p Double Layered Top
			p $ 89,95
		.prod-4
			.prod-img
			p Double Layered Top
			p $ 89,95